header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgb(251, 251, 251);
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.lnk-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 100%;

  background-color: rgb(251, 251, 251);
}

.navigation {
  padding-top: 10px;
  width: 100%;

  display: flex;
  justify-content: space-around;

  background-color: rgb(251, 251, 251);
}

.lnk-link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.img-logo {
  height: inherit;
  width: 45px;
}

.img-name {
  height: inherit;
  text-align: center;

  font-size: 24px;
  margin-left: 6px;
}

.img-nav {
  height: inherit;
  width: 20px;
}

.nav-btn {
  padding: 5px;
  min-width: 23%;
}

@media (min-width: 641px) and (max-width: 1007px) {
  span {
    font-size: 18px;
    font-weight: bold;
  }
}

@media (min-width: 1008px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
  }
  .lnk-logo {
    width: 50%;
    justify-content: left;
    margin-left: 10px;
  }
  .navigation {
    width: 50%;

    display: flex;
    justify-content: space-around;
  }

  .nav-btn {
    height: 40px;
  }
  .nav-btn:hover {
    text-decoration: underline;
  }
  span {
    font-size: 18px;
    font-weight: bold;
  }
}
