.atf {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  width: 100%;

  /* background-image: url(src\assets\img\pexels-ken-tomita-389818.jpg); */
  /* background-image: url(src\assets\img\pexels-negative-space-34579.jpg); */
  /* background-image: url(src\assets\img\pexels-negative-space-34658.jpg); */
  /* background-image: url(src\assets\img\pexels-photo-4050347.jpeg); */
  background-image: url(src\assets\img\pexels-pixabay-261579.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 641px) and (max-width: 1007px) {
}

@media (min-width: 1008px) {
  .atf-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .atf-left > h1 {
    color: black;
    font-weight: bold;
  }
  .atf-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
}
